<div class="row">
        <div class="col-12 p-0">
            <div class="jumbotron min-vh-80 text-center m-0 bg-dark d-flex flex-column justify-content-center">
                <h1 class="display-4 text-white">Friends App</h1>
                <p class="lead text-white font-italic">manage your friends with ease . .</p>
                <%# <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p> %>
            </div>
        </div>
    </div>